.titlebar {
    transition: 500ms ease;
    background: #9bdb4d;
    color: black;
    text-shadow: none;
}

.blue-color {
    background: #22AAff;
    color: white;
}

.red-color {
    background: #D9534F;
    color: white;
}